*, *::before, *::after {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
} 

.inner-content-container {
    display: inline-block;
}

.card-top-section {
    &__container {
        display: flex;
        background-color: green;
    }

    &__logo-container {
        flex: 1 1 10%;
    }

    &__text-container {
        flex: auto;
    }
}

.content-container {
    padding: 15px;
}